.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 91.5vh;
    padding: 10px;
    width: 100%;
    flex-wrap: nowrap;
}

.messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    
}

.whole {
    background-color: #F1F6F5;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    
}

.border-style{
    border: 1px solid #000000;
    
}

.mychats {
    padding-bottom: 3px;
    padding-left: 3px;
    font-size: 28px;
    /* For base */
    font-size: 30px;
    /* For md and above */
    font-family: 'Trebuchet MS';
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mychats text {
    padding-left: 1px;
}

.mychats button {
    display: flex;
    font-size: 17px;
    /* For base */
    font-size: 10px;
    /* For md */
    font-size: 17px;
    /* For lg */
    justify-content: flex-end;
}

.mychats button .icon {
    margin-left: 5px;
    /* Adjust the margin as needed */
}

.myBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    background-color: white;
    width: 100%;
    border-radius: 1em;
    border-width: 1px;
}

@media screen and (min-width: 768px) {
    .myBox {
        display: flex;
        width: 31%;
    }
}

.chatBox {
    align-items: center;
    flex-direction: column;
    padding: 3px;
    background-color: white;
    width: 100%;
    border-radius: 1em;
    border-width: 1px;
    display: none;
}

.chatBoxActive {
    align-items: center;
    flex-direction: column;
    padding: 3px;
    background-color: white;
    width: 100%;
    border-radius: 1em;
    border-width: 1px;
    display: flex;
}

@media screen and (min-width: 768px) {

    .chatBox,
    .chatBoxActive {
        width: 68%;
        display: flex;
    }
}
